<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="2%">
  <mat-tab-group fxFlex="100%">
    <!-- ################## TAB DE CREAR/EDITAR TERCEROS ##################-->
      <mat-tab label="Crear y/o Editar Terceros">
          <pr-terceros></pr-terceros>
      </mat-tab>
    <!-- ################## FIN TAB DE CREAR/EDITAR TERCEROS ##################-->

      <!-- ################## TAB DE RADICACION DE DOCUMENTO ##################-->
      <mat-tab label="Radicación Documento">
        <pr-radicacion></pr-radicacion>
      </mat-tab>
      <!-- ################## FIN TAB DE RADICACION DE DOCUMENTO ##################-->
  </mat-tab-group>
  <!-- <div fxLayout="column" fxFlex="14%" class="logo-alcaldia">
  </div> -->
</div>