<mat-card class="container-group">
    <mat-card-header> <mat-card-title>Información tercero</mat-card-title> </mat-card-header>
    <mat-card-content>
      <form [formGroup]="formularioCiudadano">
        <mat-accordion>
            <!-- FORMULARIO INFORMACION GENERAL -TIPO DE TERCERO -->
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Información General - Tipo de Tercero</mat-panel-title>
              </mat-expansion-panel-header>
              <pr-form-tipo-tercero *ngIf="formularioCiudadano" [formularioCiudadano]="formularioCiudadano"></pr-form-tipo-tercero>
            </mat-expansion-panel>
            <mat-expansion-panel>
            <!--./ FORMULARIO INFORMACION GENERAL -TIPO DE TERCERO -->
  
            <!-- FORMULARIO DATOS BASICOS - PERSONA NATURAL -->
              <mat-expansion-panel-header>
                <mat-panel-title>Datos Básicos - Persona Natural</mat-panel-title>
              </mat-expansion-panel-header>
              <pr-form-datos-basicos-persona-natural *ngIf="formularioCiudadano" [formularioCiudadano]="formularioCiudadano"></pr-form-datos-basicos-persona-natural>
            </mat-expansion-panel>
            <mat-expansion-panel>
            <!--./ FORMULARIO DATOS BASICOS - PERSONA NATURAL -->
            
            <!-- FORMULARIO DATOS BASICOS - PERSONA JURIDICA -->
              <mat-expansion-panel-header>
                <mat-panel-title>Datos Básicos - Persona Jurídica</mat-panel-title>
              </mat-expansion-panel-header>
              <pr-form-datos-basicos-persona-juridica *ngIf="formularioCiudadano" [formularioCiudadano]="formularioCiudadano"></pr-form-datos-basicos-persona-juridica>
            </mat-expansion-panel>
            <!--./ FORMULARIO DATOS BASICOS - PERSONA NATURAL -->
  
            <!-- FORMULARIO DIRECCIONES FISICAS -->
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Direcciones Fisicas</mat-panel-title>
              </mat-expansion-panel-header>
              <p>Hola Mundo</p>
            </mat-expansion-panel>
            <!--./ FORMULARIO DIRECCIONES FISICAS -->
  
            <!-- FORMULARIO DIRECCIONES ELECTRÓNCIAS -->
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Direcciones Electronicas</mat-panel-title>
              </mat-expansion-panel-header>
              <p>Hola Mundo</p>
            </mat-expansion-panel>
            <!-- ./FORMULARIO DIRECCIONES ELECTRÓNICAS -->
        </mat-accordion>
  
        <div fxLayout="row" fxLayoutAlign="center center" >
          <button mat-raised-button color="primary">Crear y/o Editar Tercero</button>
        </div>
      </form>
    </mat-card-content>
</mat-card>